*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter;

background:#fff8f0;

color:#2a1b13;

}

header{

position:fixed;

width:100%;

z-index:100;

backdrop-filter:blur(12px);

}

nav{

max-width:1300px;

margin:auto;

display:flex;

justify-content:space-between;

align-items:center;

padding:22px;

}

.logo{

font-weight:700;

font-size:24px;

}

ul{

display:flex;

gap:40px;

list-style:none;

}

a{

text-decoration:none;

color:inherit;

}

.actions{

display:flex;

gap:18px;

}

.cart{

position:relative;

}

#cartCount{

position:absolute;

top:-10px;

right:-12px;

background:#e9b949;

width:22px;

height:22px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

}

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(
rgba(0,0,0,.35),
rgba(0,0,0,.35)
),

url("https://images.unsplash.com/photo-1551024601-bec78aea704b");

background-size:cover;

color:white;

text-align:center;

}

.hero-content{

width:850px;

}

.tag{

background:white;

color:#c98c42;

padding:10px 20px;

border-radius:30px;

}

.hero h1{

font-size:72px;

margin:30px 0;

font-family:Playfair Display;

}

.hero p{

font-size:20px;

line-height:1.8;

}

.buttons{

margin-top:40px;

display:flex;

justify-content:center;

gap:18px;

}

.buttons a{

padding:18px 30px;

border-radius:12px;

background:#e9b949;

}

.highlights{

padding:120px 80px;

}

.highlights h2{

text-align:center;

font-size:48px;

margin-bottom:70px;

}

.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:40px;

}

.card{

background:white;

border-radius:30px;

overflow:hidden;

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

.image{

height:260px;

background:

linear-gradient(
45deg,
#e9b949,
#c98c42
);

}

.card h3{

padding:30px;

}

.card p{

padding:0 30px 30px;

}

.process{

padding:120px;

text-align:center;

}

.steps{

display:flex;

justify-content:center;

gap:40px;

margin-top:60px;

}

.steps div{

padding:50px;

background:white;

border-radius:20px;

width:250px;

}

.testimonial{

padding:100px;

}

.box{

max-width:700px;

margin:auto;

background:#59361d;

color:white;

padding:60px;

border-radius:30px;

}

.cta{

padding:140px;

text-align:center;

}

.cta h2{

font-size:54px;

margin-bottom:30px;

}

.cta a{

padding:20px 40px;

background:#c98c42;

color:white;

border-radius:12px;

}

footer{

padding:40px;

text-align:center;

}

@media(max-width:900px){

ul{

display:none;

}

.cards{

grid-template-columns:1fr;

}

.hero h1{

font-size:42px;

}

.steps{

flex-direction:column;

}

}