*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}

body{
background:linear-gradient(135deg,#fff8f0,#f7e3b5);
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

.container{
width:100%;
display:flex;
justify-content:center;
}

.box{
background:white;
padding:45px;
border-radius:25px;
width:360px;
box-shadow:0 20px 40px rgba(0,0,0,.08);
text-align:center;
}

h1{
font-size:26px;
margin-bottom:5px;
}

.subtitle{
font-size:14px;
color:#777;
margin-bottom:20px;
}

input{
width:100%;
padding:12px;
margin-top:10px;
border:1px solid #ddd;
border-radius:12px;
outline:none;
}

.password-box{
position:relative;
}

.password-box span{
position:absolute;
right:12px;
top:55%;
transform:translateY(-50%);
cursor:pointer;
user-select:none;
}

button{
width:100%;
margin-top:15px;
padding:12px;
background:#e9b949;
border:none;
border-radius:12px;
cursor:pointer;
font-weight:bold;
}

.link{
margin-top:15px;
font-size:14px;
}

#error{
color:white;
background:#c94b4b;
padding:10px;
border-radius:10px;
margin-bottom:10px;
display:none;
}